@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 400px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0px 0px 25px black;
  overflow: hidden;
  color: hsl(215, 51%, 70%);
  padding: 30px;
  border-radius: 15px;
}

.blockImg {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.blockImg img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.507);
  transition: 0.3s ease;
  opacity: 0;
}
.overlay img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.overlay:hover {
  transition: 0.5s ease;

  opacity: 1;
}

.text-content {
  padding: 30px 0 0 0;
  font-size: 20px;
}
.text-content h3 {
  display: inline-block;
  color: white;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  transition: 0.3s ease;
}
.text-content h3:hover {
  transition: 0.3s ease;
  color: hsla(178, 100%, 50%);
}

.text-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.text-info div {
  display: flex;
  align-items: center;
}
.text-info img {
  margin-right: 10px;
  width: auto;
}

.balance {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time p {
  font-weight: 400;
}

.createur {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-size: 16px;
}
.createur img {
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 10px;
}
.createur p {
  padding: 0 2px;
}
.createur :nth-child(3n) {
  transition: 0.5s ease;
  color: hsl(0, 0%, 100%);
}
.createur :nth-child(3n):hover {
  transition: 0.5s ease;
  color: hsl(178, 100%, 50%);
}

hr {
  border-color: hsl(215, 51%, 70%);
}
